@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;500&family=Passion+One&family=Sriracha&display=swap');
 :root{
    --font1: verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', 'Josefin Sans', sans-serif;
    --font3: 'Sriracha', sans-serif;
 }


* {
    margin: 0px;
    padding: 0px;
  
}
html,body{
    min-height: 100vh;
}
    

header {
    text-align: center;
    color: white;
    background-color: black;
    
}

header>h1 {
    padding-top: 50px;
    font-family: var(--font2);
    font-size: 10vw;/* baseado na largura da tela ,fica responsivo mais não é o melhor recurso o melhor seria @media */
    font-variant: small-caps;/*todas as letras maiusculas mais a do começo maiores*/

}

header>p {
    padding-bottom: 50px;
    text-align: center;
    color: azure;
    font-size: 1.2em;

}

header a, footer a  {
    font-weight: bolder;
    color: azure;
    text-decoration: none;

}
header a:hover, footer a:hover{
    text-decoration: underline;
}

header a:visited {
    color: rgb(219, 111, 219);
}
section{/*cria um espaço em cima e em baixo que pode se adptar*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*espaço entre as linhas*/
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vw;
}

section.normal {
    background-color: white;
    color: black;
    
   

}
section.imagem{
    background-color: black;
    color:white;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    padding: 20px;
    background-attachment: fixed;
background-position: right top;
}
.imagem p , .imagem2 p{
    background-color: rgba(0, 0, 0, 0.411);
    display: inline-block;/* ta servindo pra caixa se adptar ao paragrafo dentro da caixa*/
    font-size: 3vw;
    padding: 5px;
}
section.imagem2{
    color: white;
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-position: right top;
   
}
footer{
    text-align: center;
    background-color: black;
    color: azure;
    padding: 20px;
    font-size: 18px;
}
footer a{
    font-weight: bolder;
    color: azure;
}
footer a:visited{
    color: rgb(219, 111, 219);
}